@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 通用&布局 */
  html {
    @apply relative scroll-pt-[88px];
  }
  body {
    @apply bg-color transition-[background-color] text-primary font-normal antialiased break-words font-sans leading-relaxed relative;
  }
  .layout {
    @apply max-w-2xl mx-auto pt-8 sm:pb-12 sm:pt-14 px-5 md:px-3 relative min-h-[calc(100vh-182px)] sm:min-h-[calc(100vh-152px)];
  }
  /* 页面背景色 */
  .bg-color {
    @apply bg-white dark:bg-black transition-[background-color];
  }

  code, kbd, samp, pre{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  /* 文字 */
  h1 {
    @apply text-4xl sm:text-5xl font-semibold sm:leading-[1.2] leading-[1.2];
  }
  p {
    @apply text-lg my-7 leading-[1.8];
  }
  .text-primary {
    @apply text-neutral-900 dark:text-neutral-100;
  }
  .text-secondary {
    @apply text-neutral-600 dark:text-neutral-300;
  }
  .text-tertiary {
    @apply text-neutral-500 dark:text-neutral-400;
  }
  strong{
    @apply font-semibold;
  }

  /* 分割线 */
  hr {
    @apply my-6 sm:my-10 border-neutral-200 dark:border-neutral-800 transition-[border-color];
  }

  /* 超链接颜色（无下划线） */
  .link-color-none {
    @apply text-inherit sm:hover:text-blue-700 active:text-blue-900 sm:active:text-blue-900 dark:sm:hover:text-blue-400 dark:active:text-blue-500 dark:sm:active:text-blue-500;
  }

  p a,
  span a,
  li a,
  .link-color {
    @apply text-blue-700 dark:text-blue-400 hover:underline underline-offset-2 active:no-underline sm:hover:text-blue-700 active:text-blue-900 sm:active:text-blue-900 dark:sm:hover:text-blue-400 dark:active:text-blue-500 dark:sm:active:text-blue-500 ring-default;
  }

  /* 添加 Tab 键聚焦后的 Outline 效果 */
  .force-link {
    @apply ring-default;
  }

  /* 个人简历专用样式 */
  .resume{
    a{
      @apply text-secondary print:no-underline underline underline-offset-2 decoration-neutral-400 sm:hover:decoration-blue-700 dark:decoration-neutral-500 sm:hover:font-medium transition-[text-decoration-color];
    }
    strong{
      @apply text-primary;
    }
    section h2{
      @apply text-lg font-semibold;
    }
    section p{
      @apply text-base mt-2 mb-3 text-secondary;
    }
    .resume-info section p{
      @apply last:mb-0;
    }
    .contact p{ /* 联系方式 */
      @apply my-2;
    }
    .resume-exp{ /* 公司和工作经验列表 */
      section{
        @apply flex flex-col sm:flex-row gap-1 sm:gap-2 md:gap-10;
      }
      section>h2{ /* 工作时间 */
        @apply font-medium text-base mt-2 mb-3 text-secondary sm:min-w-[9rem] whitespace-nowrap text-neutral-500 dark:text-neutral-400 mb-0;
      }
      section>div{ /* 公司名+岗位+地点，和工作成果的组 */
        @apply flex flex-col gap-1 sm:gap-0;
      }
      section div p:first-of-type{ /* 公司名称 */
        @apply font-semibold mb-0 sm:mb-1 mt-1 sm:mt-2 text-xl sm:text-base text-primary;
      }
      section div p a:first-of-type{ /* 公司名称（带有超链接的名称） */
        @apply font-semibold mb-1 no-underline text-xl sm:text-base text-primary sm:hover:text-blue-700 active:text-blue-900 sm:active:text-blue-900 dark:sm:hover:text-blue-400 dark:active:text-blue-500 dark:sm:active:text-blue-500;
      }
      section div p:nth-child(2){ /* 岗位和城市 */
        @apply text-base sm:text-sm font-medium mt-0 mb-0 sm:mb-2 text-neutral-500 dark:text-neutral-400 select-none;
      }
      section ul{ /* 工作经验列表 */
        @apply pl-6 sm:pl-4 list-decimal text-secondary;
      }
      section ul a{
        @apply text-secondary hover:underline underline-offset-2 active:no-underline sm:hover:text-blue-700 active:text-blue-900 sm:active:text-blue-900 dark:sm:hover:text-blue-400 dark:active:text-blue-500 dark:sm:active:text-blue-500 ;
      }
      section ul li{
        @apply mt-1 mb-2 sm:mb-3 last:mb-0;
      }
    }
  
    /* 技能清单 */
    .resume-skill{
      &>section{
        @apply w-full md:w-[calc(50%-1rem)] ;
      }
      &>section p{
        @apply mt-1 mb-0;
      }
    }
  
    /* 下载简历按钮 */
    .resume-download{
      @apply no-underline link-color text-neutral-500 dark:text-neutral-400 sm:hover:text-blue-700 active:text-blue-900 sm:active:text-blue-900 dark:sm:hover:text-blue-400 dark:active:text-blue-500 dark:sm:active:text-blue-500 !important;
    }
  }

  /* 博客详情页 */
  .mdx-bundler{
    h2{
      @apply leading-tight text-3xl font-semibold mb-5 mt-10;
      &:first-child{
        @apply mt-7;
      }
    }
    h3{
      @apply leading-tight text-2xl font-semibold mt-4 sm:mt-7 mb-2;
    }
    h4{
      @apply leading-tight text-xl font-semibold mt-4 sm:mt-7 mb-2;
    }
    h5, h6{
      @apply leading-tight font-semibold mt-4 sm:mt-7 mb-2;
    }
    p{
      @apply my-4 xl:my-7;
    }
    h3+p{
      @apply mt-2;
    }
    h4+p, h5+p, h4+ul, h5+ul, h4+ol, h5+ol{
      @apply mt-0 sm:mt-2;
    }
    &>*:first-child{
      @apply mt-0;
    }
    figure{ /* 引用了 Zoom 组件的图片 */
      @apply my-4 sm:my-7;
      & div div:first-child img{ /* 未放大时的图片 */
        @apply cursor-zoom-in rounded-lg;
      }
      & div div:first-child{ /* 未放大时的图片 */
        @apply cursor-zoom-out ; 
      }
      & div div:nth-child(2)>img{ /* 放大时的图片 */
        @apply border-none; 
      }
      & div div:nth-child(2){ /* 移除 .png 图片放大时浅灰色 */
        background-color: transparent !important;
      }
      figcaption{ /* 图片描述 */
        @apply empty:hidden text-center text-secondary block text-sm mt-2 leading-tight md:leading-relaxed;
      }
      &:first-child+p{ /* 第一个元素是图片时，首字下沉 */
        @apply first-letter:uppercase first-letter:text-6xl first-letter:font-bold first-letter:mr-1 first-letter:float-left
      }
    }
    figcaption{ /* 通用图片描述，可用在组件或视频下方 */
      @apply empty:hidden text-center text-secondary block text-sm mt-2 leading-tight md:leading-relaxed;
    }
    img{
      @apply relative !important;
    }
    video{
      @apply rounded-lg img-loading-bg sm:border border-neutral-200 dark:border-neutral-800;
    }
    
    blockquote{
      @apply leading-none my-7 px-5 text-secondary relative before:left-[-8px] md:before:left-[-28px] before:top-[-19px] md:before:top-[-10px] before:bg-neutral-200 dark:before:bg-neutral-700;
      strong{
        @apply text-primary;
      }
      p{
        @apply my-1;
      }
      &>p{
        @apply first:first-letter:uppercase first:first-letter:text-lg first:first-letter:font-normal first:first-letter:mr-0 first:first-letter:float-none
      }
      &:first-child+figure+p{
        @apply first-letter:uppercase first-letter:text-6xl first-letter:font-bold first-letter:mr-1 first-letter:float-left
      }
      &::before{
        content:'';
        position: absolute;
        width: 40px;
        height: 40px;
        mask: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 1 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.796 7.487C1.218 6.874.908 6.186.908 5.07c0-1.963 1.378-3.722 3.382-4.592l.5.773C2.92 2.263 2.556 3.576 2.41 4.403c.301-.155.695-.21 1.082-.174 1.011.094 1.809.924 1.809 1.957a1.963 1.963 0 0 1-1.963 1.963 2.17 2.17 0 0 1-1.541-.662zm5.608 0c-.578-.613-.888-1.301-.888-2.417 0-1.963 1.378-3.722 3.382-4.592l.5.773c-1.87 1.012-2.235 2.325-2.381 3.152.301-.155.695-.21 1.082-.174 1.012.094 1.81.924 1.81 1.957a1.963 1.963 0 0 1-1.964 1.963 2.17 2.17 0 0 1-1.54-.662z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%/40px;
        z-index: -1;
      }
    }
    ol{
      @apply text-lg pl-[2ch] my-4 sm:my-7 list-decimal marker:text-gray-400 dark:marker:text-gray-600 marker:font-semibold;
      ol{
        @apply my-0 list-[lower-latin];
      }
      li{
        @apply my-1 sm:my-2;
      }
    }
    ul{
      @apply text-lg pl-[2ch] my-4 sm:my-7 list-disc marker:text-gray-400 dark:marker:text-gray-600;
      &.contains-task-list{ /* 任务清单 */
        @apply list-none;
      }
      li{
        @apply my-1 sm:my-2;
      }
    }
    p code{ /* 行内代码 */
      @apply mx-1 px-1 py-[2px] border bg-neutral-100 border-neutral-300 dark:bg-neutral-800 dark:border-neutral-600 rounded  transition-colors text-base;
    }
    span[data-rehype-pretty-code-fragment]{ /*高亮行内代码*/
      code{
        
      }
    }
    div[data-rehype-pretty-code-fragment]{ /* 高亮代码块 */
      @apply bg-slate-900 dark:bg-neutral-900 rounded-lg my-4 sm:my-7 text-base overflow-hidden transition-colors;
      
      div:first-child{ /* 文件标题 */
        @apply pt-3 pb-2 pl-4 sm:pl-6 block text-sky-500 border-b font-medium text-[13px] underline underline-offset-[14px] decoration-2 decoration-sky-500 border-slate-700 dark:border-neutral-800 select-none;
      }
      &+h4{
        @apply mt-6 sm:mt-9;
      }
      pre{
        @apply py-4 sm:py-6 border-slate-700 dark:border-neutral-800 leading-[22px] overflow-auto text-sm;
        code{
          @apply grid;
          & > span{ /* 行 */
            @apply px-4 sm:px-6 relative border-l-[3px] border-transparent;
          }
          .highlighted-line{ /* 高亮行 */
            @apply bg-slate-800 dark:bg-neutral-800 border-l-[3px] border-teal-500;
          }
          .highlighted-word{ /* 高亮单词 */
            @apply bg-slate-700 dark:bg-neutral-700 py-1 px-[2px] mx-[1px] rounded;
          }
        }
      }
    }
    table{ /* 表格 */ 
      @apply block my-4 sm:my-7 overflow-auto border-collapse border-spacing-0 table-auto text-sm sm:text-base;
      
      th{ /* 表头单元格 */
        @apply bg-neutral-100 dark:bg-neutral-900 break-keep;
      }
      td{ /* 所有单元格 */
        word-break: break-word;
        a{
          @apply link-color;
        }
        code{
          @apply mx-1 px-1 py-[2px] border bg-neutral-100 border-neutral-300 dark:bg-neutral-800 dark:border-neutral-600 rounded  transition-colors text-sm;
        }
      }
      td[align="right"]{
        @apply whitespace-nowrap;
      }
      th, td{
        @apply py-2 px-2 sm:px-4 border border-neutral-200 dark:border-neutral-800 min-w-[136px] sm:min-w-fit;
      }
      tbody tr:nth-child(even){
        @apply bg-neutral-100 dark:bg-neutral-900;
      }
    }
    details summary{
      @apply inline-block relative w-full items-center cursor-pointer btn-base btn-lg px-4 pl-10 border border-neutral-200 dark:border-neutral-800;
      &+*{
        @apply mt-4 !important;
      }
      &::before{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
      margin-right: .5em;
      mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16a.999.999 0 01-.707-1.707L11.586 10 7.293 5.707a.999.999 0 111.414-1.414l5 5a.999.999 0 010 1.414l-5 5A.997.997 0 018 16z' fill='%235C5F62'/%3E%3C/svg%3E") no-repeat;
      display: inline;
      height: 1.2em;
      width: 1.2em;
      background-color: currentColor;
      vertical-align: -0.125em;
      display: inline-block;
      }
      
    }
    
    details[open] summary::before{
      mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z' fill='%235C5F62'/%3E%3C/svg%3E")
   no-repeat;
    }
    details>summary {
      list-style: none;
    }
    summary::-webkit-details-marker {
      display: none;
    }
    
  }

}

.project-v2{ /* 作品模版v2 */
    @apply max-w-4xl;
    .top-info{
      @apply text-center mt-0 md:mt-10 lg:mt-16 mb-4 md:mb-8;
      h1{
        @apply text-3xl md:text-5xl lg:text-5xl break-keep;
      }
      p{
        @apply text-secondary mt-4 mb-0 text-base sm:text-lg break-words sm:break-keep;
      }
    }
    .content{
      h2, h3, p, ul, ol, hr{
        @apply max-w-2xl mx-auto;
      }
      h2{
        @apply leading-tight text-2xl font-semibold mb-5 mt-10 sm:mt-14 first:mt-4;
      }
      h3{
        @apply leading-tight text-xl font-semibold my-7;
      }
      p{
        @apply my-4 sm:my-7;
      }
      ol{
        @apply text-lg pl-10 my-4 sm:my-7 list-decimal;
        li{
          @apply my-1 sm:my-2;
        }
      }
      ul{
        @apply text-lg pl-10 my-4 sm:my-7 list-disc;
        &.contains-task-list{ /* 任务清单 */
          @apply list-none;
        }
        li{
          @apply my-1 sm:my-2;
        }
      }
    }
    
    figure{ /* 引用了 Zoom 组件的图片 */
      @apply mt-4 sm:mt-7 relative h-fit rounded-lg mx-auto first:mt-0;
      img{ /* 图片位置修正 */
        height: auto !important;
        position: relative !important;
      }
      &>div{
        @apply mx-auto rounded-lg min-h-[120px];
      }
      div div:first-child img{ /* 未放大时的图片 */
        @apply cursor-zoom-in rounded-lg;
      }
      div div:first-child{ /* 未放大时的图片 */
        @apply cursor-zoom-out ; 
      }
      div div:nth-child(2){ /* 移除 .png 图片放大时浅灰色 */
        background-color: transparent !important;
      }
      iframe{
        @apply h-[285px] sm:h-[585px] max-h-[50vh] img-loading-bg border dark:border-none rounded-lg;
      }
    }
    img{
      @apply my-0 mx-auto;
    }
    figcaption{ /* 图片描述 */
        @apply text-center text-secondary block text-sm mt-2 leading-tight md:leading-relaxed mx-auto max-w-2xl;
        a{
          @apply underline hover:no-underline;
        }
      }
    figure.scroll{
      @apply h-[285px] sm:h-[640px] max-h-[80vh] overflow-scroll w-fit;
    }
  }
  
  table{ /* 表格 */ 
    @apply mx-auto border-collapse border-spacing-0 table-auto text-sm;
    /* thead{ /* 表头 
      @apply sticky top-[60px];
    } 
    */
    td{ /* 所有单元格 */
      @apply text-sm break-words;
      a{
        @apply link-color;
      }
      code{
        @apply mx-1 px-1 py-[2px] border bg-neutral-100 border-neutral-300 dark:bg-neutral-800 dark:border-neutral-600 rounded  transition-colors text-sm;
      }
      ul{
        @apply text-sm leading-5 py-0 my-0 !important;
        li{
          @apply my-1 !important;
        }
      }
    }
    td[align="right"]{
      @apply whitespace-nowrap;
    }
    th, td{
      @apply py-2 px-2 sm:px-4 border border-neutral-200 dark:border-neutral-800 min-w-[136px] sm:min-w-fit;
    }
    th{ /* 表头单元格 */
      @apply text-sm bg-neutral-100 dark:bg-neutral-900 break-keep after:bg-neutral-200 dark:after:bg-neutral-800;
    }
    th::after{ /* 表头单元格，吸顶后的底部描边 */
      content: "";
      position: absolute;
      left: 0;
      bottom: -.5px;
      width: 100%;
      height: 1px;
    }
    tbody tr:nth-child(even){
      @apply bg-neutral-100 dark:bg-neutral-900;
    }
  }

@layer components {
  /* 图片浅容器背景 */
  .img-loading-bg {
    @apply bg-neutral-100 dark:bg-neutral-900 transition-[background-color];
  }

  /* 图片加载中 Spin 效果 */
  .img-loading-spin {
    @apply bg-neutral-100 dark:bg-neutral-900 transition-[background-color] before:animate-spin before:absolute motion-reduce:before:relative;
  }

  /* 基本按钮 */
  .btn-base {
    @apply hover:ring-0 sm:hover:bg-neutral-200 dark:sm:hover:bg-neutral-800 active:ring-4 active:ring-offset-2 active:ring-offset-neutral-100 dark:active:ring-offset-black active:ring-blue-600 focus:outline-none focus-visible:ring-4 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-100 dark:focus-visible:ring-offset-black focus-visible:ring-blue-600 transition-[background-color] hover:transition-none dark:hover:transition-none select-none;
  }

  .btn-md {
    @apply text-lg p-2 rounded leading-tight;
  }

  .btn-lg {
    @apply px-6 py-3 rounded-lg font-medium;
  }

  .btn-icon {
    @apply text-lg p-2 rounded;
  }

  .btn-bg{
    @apply bg-neutral-100 dark:bg-neutral-900;
  }

  /* 给非按钮添加 Tab 键聚焦后的 Outline 效果 */
  .ring-default {
    @apply focus:outline-none focus-visible:ring-4 focus-visible:ring-offset-2 focus-visible:ring-offset-white dark:ring-offset-black focus:ring-blue-600 rounded-md;
  }
}

/* Tailwind CSS 以外的内容 */

body{
  font-feature-settings: 'case';
}


/* 文字截断效果 */
.elis-1{
  text-overflow: ellipsis; 
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
}

.elis-2{
  text-overflow: ellipsis; 
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 鼠标点击以聚焦时，不显示 outline */
:focus:not(.focus-visible) {
  outline: none;
}

/* 移除 iOS 按下按钮时的背景色 */
a,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* p, span 标签下的a标签，hover时出现外跳的图标 */
p a[target="_blank"]:hover::after,
p a[target="_blank"]:focus::after,
td a[target="_blank"]:hover::after,
td a[target="_blank"]:focus::after,
span a[target="_blank"]:hover::after,
span a[target="_blank"]:focus::after,
li a[target="_blank"]:hover::after,
li a[target="_blank"]:focus::after,
figure ~ figcaption a[target="_blank"]:hover::after,
figure ~ figcaption a[target="_blank"]:focus::after,
.force-link:hover::after,
.force-link:focus::after {
  content: "";
  margin-left: 0.125em;
  margin-right: 0.125em;
  mask: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1282_6689)'%3E%3Cpath d='M14.34 1.7a2.801 2.801 0 0 0-1.445-.782 9.05 9.05 0 0 0-1.907-.18H4.996c-.708 0-1.341.06-1.898.18a2.799 2.799 0 0 0-1.438.781c-.4.396-.661.87-.781 1.422a9.36 9.36 0 0 0-.172 1.89v5.954c0 .719.057 1.357.172 1.914.12.552.38 1.026.781 1.422a2.8 2.8 0 0 0 1.438.781 9.12 9.12 0 0 0 1.906.18h5.984c.719 0 1.357-.06 1.914-.18a2.759 2.759 0 0 0 1.438-.781c.4-.396.659-.87.773-1.422.12-.557.18-1.195.18-1.914v-5.93a9.05 9.05 0 0 0-.18-1.906 2.74 2.74 0 0 0-.773-1.43zm-.61 3.116v6.36c0 .411-.036.791-.109 1.14a1.674 1.674 0 0 1-.43.844c-.213.214-.497.357-.851.43-.35.073-.727.11-1.133.11H4.793a5.64 5.64 0 0 1-1.14-.11 1.678 1.678 0 0 1-.852-.43 1.674 1.674 0 0 1-.43-.844 5.996 5.996 0 0 1-.101-1.14V4.832c0-.417.033-.8.101-1.148.073-.35.216-.63.43-.844.213-.219.497-.362.851-.43.36-.073.748-.11 1.164-.11h6.391c.406 0 .784.037 1.133.11.354.073.638.216.851.43.22.213.362.495.43.844.073.349.11.726.11 1.132zm-3.289 5.211a.592.592 0 0 0 .47-.195.75.75 0 0 0 .179-.516V5.684c0-.271-.073-.472-.219-.602-.14-.13-.333-.195-.578-.195H6.637a.732.732 0 0 0-.516.18.604.604 0 0 0-.187.468c0 .203.065.365.195.485.13.114.302.171.516.171h1.312l1.063-.125-1.15 1.047-2.725 2.735a.694.694 0 0 0-.227.5c0 .213.065.385.195.515.13.125.295.188.492.188a.736.736 0 0 0 .297-.055.859.859 0 0 0 .243-.172L8.87 8.105l1.04-1.132-.118 1.109v1.242c0 .219.06.39.18.516a.62.62 0 0 0 .468.187z' fill='%23000'/%3E%3C/g%3E%3C/svg%3E")
   no-repeat 50% 50%/1em 1em;
  display: inline-block;
  height: 1em;
  width: 1em;
  background-color: currentColor;
  vertical-align: -0.125em;
}

.force-link-icon::after {
  content: "";
  margin-left: 0.125em;
  margin-right: 0.125em;
  mask: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1282_6689)'%3E%3Cpath d='M14.34 1.7a2.801 2.801 0 0 0-1.445-.782 9.05 9.05 0 0 0-1.907-.18H4.996c-.708 0-1.341.06-1.898.18a2.799 2.799 0 0 0-1.438.781c-.4.396-.661.87-.781 1.422a9.36 9.36 0 0 0-.172 1.89v5.954c0 .719.057 1.357.172 1.914.12.552.38 1.026.781 1.422a2.8 2.8 0 0 0 1.438.781 9.12 9.12 0 0 0 1.906.18h5.984c.719 0 1.357-.06 1.914-.18a2.759 2.759 0 0 0 1.438-.781c.4-.396.659-.87.773-1.422.12-.557.18-1.195.18-1.914v-5.93a9.05 9.05 0 0 0-.18-1.906 2.74 2.74 0 0 0-.773-1.43zm-.61 3.116v6.36c0 .411-.036.791-.109 1.14a1.674 1.674 0 0 1-.43.844c-.213.214-.497.357-.851.43-.35.073-.727.11-1.133.11H4.793a5.64 5.64 0 0 1-1.14-.11 1.678 1.678 0 0 1-.852-.43 1.674 1.674 0 0 1-.43-.844 5.996 5.996 0 0 1-.101-1.14V4.832c0-.417.033-.8.101-1.148.073-.35.216-.63.43-.844.213-.219.497-.362.851-.43.36-.073.748-.11 1.164-.11h6.391c.406 0 .784.037 1.133.11.354.073.638.216.851.43.22.213.362.495.43.844.073.349.11.726.11 1.132zm-3.289 5.211a.592.592 0 0 0 .47-.195.75.75 0 0 0 .179-.516V5.684c0-.271-.073-.472-.219-.602-.14-.13-.333-.195-.578-.195H6.637a.732.732 0 0 0-.516.18.604.604 0 0 0-.187.468c0 .203.065.365.195.485.13.114.302.171.516.171h1.312l1.063-.125-1.15 1.047-2.725 2.735a.694.694 0 0 0-.227.5c0 .213.065.385.195.515.13.125.295.188.492.188a.736.736 0 0 0 .297-.055.859.859 0 0 0 .243-.172L8.87 8.105l1.04-1.132-.118 1.109v1.242c0 .219.06.39.18.516a.62.62 0 0 0 .468.187z' fill='%23000'/%3E%3C/g%3E%3C/svg%3E")
   no-repeat 50% 50%/1em 1em;
  display: inline-block;
  height: 1em;
  width: 1em;
  background-color: currentColor;
  vertical-align: -0.125em;
}

/* 图片加载中 Spin 效果 */
.img-loading-spin::before {
  inset: 0;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12h-4a8 8 0 1 1-8-8V0z' fill='%23A3A3A3' fill-opacity='.5'/%3E%3C/svg%3E")
    no-repeat 50% 50%/1.5rem 1.5rem;
}

/* 深色模式下的页面背景渐变 */
.dark .bg-gradient {
  background: radial-gradient(ellipse 70% 50% at 50% -22%, #777ac636, #0000);
}

/* 博客详情页 */

/* 目录 H3 的缩进 */
.blog-toc .toc-h3 a{
  @apply pl-6 sm:text-sm;
}

/* 修复 Safari Image 错误 https://nextjs.org/docs/api-reference/next/image */
@supports (font: -apple-system-body) and (-webkit-appearance: none) { img[loading="lazy"] { clip-path: inset(0.6px) } }